/* src/styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Hana2";
  src: url("../assets/fonts/Hana2-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Hana2";
  src: url("../assets/fonts/Hana2-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Hana2";
  src: url("../assets/fonts/Hana2-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Hana2";
  src: url("../assets/fonts/Hana2-Heavy.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Hana2";
  src: url("../assets/fonts/Hana2-CM.otf") format("opentype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Hana2";
  src: url("../assets/fonts/Hana2-Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "NotoSans";
  src: url("../assets/fonts/NotoSans-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "NotoSans";
  src: url("../assets/fonts/NotoSans-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "NotoSans";
  src: url("../assets/fonts/NotoSans-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "NotoSans";
  src: url("../assets/fonts/NotoSansLao-Regular.ttf");
  unicode-range: U+0E80-0EFF;
  font-weight: 400;
}

@font-face {
  font-family: "NotoSans";
  src: url("../assets/fonts/NotoSansLao-Medium.ttf");
  unicode-range: U+0E80-0EFF;
  font-weight: 500;
}

@font-face {
  font-family: "NotoSans";
  src: url("../assets/fonts/NotoSansLao-Bold.ttf");
  unicode-range: U+0E80-0EFF;
  font-weight: 700;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.bg-landing {
  position: relative;
  min-height: 100vh;
  background-image: url("../../public/images/Bg.webp");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  padding: 0 !important;
}

.bg-landing::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* 검은 마스크, 불투명도 50% */
}

.bg-landing2 {
  position: relative;
  min-height: 100vh;
  background-image: url("../../public/images/senior2.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  padding: 0 !important;
}

.bg-landing2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* 검은 마스크, 불투명도 50% */
}