.form-group {
  border: 1px #eaeaeacc;
  border-radius: 1.5rem;
  padding: 3.5rem;
  background-color: #eaeaeacc;
  margin-bottom: 50px;
}

.form-group input,
.form-group select {
  height: 100%;
  padding: 17px;
  box-sizing: border-box;
  border: none;
  border-radius: 3px;
}

.transferbtn {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.transferbtn:hover {
  background-color: rgb(0 132 133 / var(--tw-bg-opacity));
}

.sectionHead {
  margin: 80px 0 50px 0;
}
.sectionHead h2 {
  margin: 0 0 20px 0;
}

.memo input {
  margin-bottom: 1.5rem;
}

.balance {
  margin-top: 1rem;
  margin-right: 0.5rem;
  display: flex;
  justify-content: flex-end;
  font-size: 20px;
}
.balance span {
  margin-left: 10px;
}
.finImg {
  display: inline;
  margin-right: 1rem;
  width: 42px;
}
.custom-tab-title button {
  font-size: 36px !important; /* 원하는 폰트 크기로 변경 */
}
